:root {
  --background: oklch(0.2223 0.006 271.1393);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.147 0.004 49.25);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.2568 0.0076 274.6528);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.8615 0.1423 82.6625);
  --primary-foreground: oklch(0.987 0.026 102.212);
  --secondary: oklch(0.852 0.199 91.936);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.294 0.013 272.9312);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.37 0.013 285.805);
  --accent-foreground: oklch(0.812 0.194 13.428);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3289 0.0092 268.3843);
  --input: oklch(0.3289 0.0092 268.3843);
  --ring: oklch(0.6132 0.2294 291.7437);
  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.6132 0.2294 291.7437);
  --chart-3: oklch(0.8077 0.1035 19.5706);
  --chart-4: oklch(0.6691 0.1569 260.1063);
  --chart-5: oklch(0.7058 0 0);
  --sidebar: oklch(0.2011 0.0039 286.0396);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6132 0.2294 291.7437);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.294 0.013 272.9312);
  --sidebar-accent-foreground: oklch(0.6132 0.2294 291.7437);
  --sidebar-border: oklch(0.3289 0.0092 268.3843);
  --sidebar-ring: oklch(0.6132 0.2294 291.7437);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.4rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
}

:root {
  --sl-color-accent: var(--primary);
  --sl-color-accent-low: var(--secondary);
  --sl-color-accent-high: var(--ring);

  --sl-color-white: var(--foreground);
  --sl-color-gray-1: var(--secondary);
  --sl-color-gray-2: var(--muted-foreground);
  --sl-color-gray-3: var(--secondary-foreground);
  --sl-color-gray-4: var(--muted-foreground);
  --sl-color-gray-5: var(--sidebar-accent);
  --sl-color-gray-6: var(--card);
  --sl-color-black: var(--card);

  --sl-color-text: var(--foreground);
  --sl-color-text-accent: var(--primary);
  --sl-color-text-invert: var(--muted);

  --sl-color-bg: var(--background);
  --sl-color-bg-nav: var(--card);
  --sl-color-bg-sidebar: var(--sidebar);
  --sl-color-bg-inline-code: var(--input);

  --sl-color-hairline: var(--accent);
  --sl-color-hairline-light: var(--accent);
  --sl-color-hairline-shade: var(--accent);
    "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
}

:root[data-theme="dark"] {
  --sl-color-accent: var(--primary);
  --sl-color-accent-low: var(--secondary);
  --sl-color-accent-high: var(--ring);

  --sl-color-white: var(--foreground);
  --sl-color-gray-1: var(--secondary);
  --sl-color-gray-2: var(--muted-foreground);
  --sl-color-gray-3: var(--secondary-foreground);
  --sl-color-gray-4: var(--muted-foreground);
  --sl-color-gray-5: var(--sidebar-accent);
  --sl-color-gray-6: var(--card);
  --sl-color-black: var(--card);

  --sl-color-text: var(--foreground);
  --sl-color-text-accent: var(--primary);
  --sl-color-text-invert: var(--muted);

  --sl-color-bg: var(--background);
  --sl-color-bg-nav: var(--card);
  --sl-color-bg-sidebar: var(--sidebar);
  --sl-color-bg-inline-code: var(--input);

  --sl-color-hairline: var(--accent);
  --sl-color-hairline-light: var(--accent);
  --sl-color-hairline-shade: var(--accent);
}
